Repository VadanKhan/F.I.N.D: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, reorder-python-imports

black:
  name: black
  entry: black
  language: system
  require_serial: true
  args:
  - -l 120

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

pipeline fixes
  eolt_root_cause_analyser/__main__.py
  noxfile.py
Due: black, pyupgrade, reorder-python-imports

fix pipeline
  tests/test_main.py
Due: black, pyupgrade, reorder-python-imports

pre-commit
  .gitignore
  .gitlab-ci.yml
  docs/source/index.rst
Due: check-yaml

dummy test
  tests/test_main.py
Due: black, pyupgrade, reorder-python-imports

#255168 added tests
  tests/test_main.py
Due: black, pyupgrade, reorder-python-imports

add artifacts
  .gitlab-ci.yml
Due: check-yaml

upgrade to yasa darglint
  poetry.lock
  pyproject.toml
Due: check-toml

use yasa-darglint
  poetry.lock
  pyproject.toml
Due: check-toml

sql query for eol_test_id
  eolt_root_cause_analyser/begin_test.py
  eolt_root_cause_analyser/cli.py
  eolt_root_cause_analyser/logic_toplevel.py
  eolt_root_cause_analyser/sql_fetch.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, pyupgrade, reorder-python-imports

TDMS fetching begin
  eolt_root_cause_analyser/tdms_fetch.py
Due: black, pyupgrade, reorder-python-imports

Working QNAP fetch
  eolt_root_cause_analyser/logic_toplevel.py
  eolt_root_cause_analyser/tdms_fetch.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, pyupgrade, reorder-python-imports

added docstrings
  eolt_root_cause_analyser/sql_fetch.py
  eolt_root_cause_analyser/tdms_fetch.py
Due: black, pyupgrade, reorder-python-imports

Happy Unit Tests for SQL query
  eolt_root_cause_analyser/cli.py
  eolt_root_cause_analyser/logic_toplevel.py
  eolt_root_cause_analyser/sql_fetch.py
  eolt_root_cause_analyser/tdms_fetch.py
  tests/test_main.py
Due: black, pyupgrade, reorder-python-imports

#256019 Tests for fetching
  .vscode/settings.json
  eolt_root_cause_analyser/tdms_fetch.py
  poetry.lock
  pyproject.toml
  tests/test_main.py
Due: black, check-toml, pyupgrade, reorder-python-imports

update driver for odbc
  eolt_root_cause_analyser/sql_fetch.py
Due: black, pyupgrade, reorder-python-imports

darglint and connection strings black
  eolt_root_cause_analyser/sql_fetch.py
  poetry.lock
  pyproject.toml
  tests/test_main.py
Due: black, check-toml, pyupgrade, reorder-python-imports

moving to nptdms, and plotting
  coverage.xml
  eolt_root_cause_analyser/initial_plots.py
  eolt_root_cause_analyser/logic_toplevel.py
  eolt_root_cause_analyser/sql_fetch.py
  eolt_root_cause_analyser/tdms_fetch.py
  poetry.lock
  pyproject.toml
  pytest.xml
Due: black, check-toml, pyupgrade, reorder-python-imports

adding plots and nptdms
  eolt_root_cause_analyser/sql_fetch.py
  poetry.lock
  pyproject.toml
  tests/test_main.py
Due: black, check-toml, pyupgrade, reorder-python-imports

Updated working connect function
  eolt_root_cause_analyser/sql_fetch.py
Due: black, pyupgrade, reorder-python-imports

Updated nox requirements
  noxfile.py
Due: black, pyupgrade, reorder-python-imports

Update noxfile.py
  noxfile.py
Due: black, pyupgrade, reorder-python-imports

#256124 Check tdms_fetch
  eolt_root_cause_analyser/initial_plots.py
  eolt_root_cause_analyser/tdms_fetch.py
Due: black, pyupgrade, reorder-python-imports

#256124 Added Docstrings
  eolt_root_cause_analyser/initial_plots.py
  eolt_root_cause_analyser/logic_toplevel.py
  eolt_root_cause_analyser/tdms_fetch.py
Due: black, pyupgrade, reorder-python-imports

#256124 Added Tests
  tests/test_main.py
Due: black, pyupgrade, reorder-python-imports

#256124 debugging
  eolt_root_cause_analyser/logic_toplevel.py
  eolt_root_cause_analyser/tdms_fetch.py
Due: black, pyupgrade, reorder-python-imports

#256124 toplevel checks
  eolt_root_cause_analyser/logic_toplevel.py
Due: black, pyupgrade, reorder-python-imports

just plotting stuff
  eolt_root_cause_analyser/initial_plots.py
Due: black, pyupgrade, reorder-python-imports

#256124 Added relative filepath and unitests
  eolt_root_cause_analyser/initial_plots.py
  eolt_root_cause_analyser/sql_fetch.py
  eolt_root_cause_analyser/tdms_fetch.py
  tests/test_main.py
Due: black, pyupgrade, reorder-python-imports

#256124 rps module beginning
  eolt_root_cause_analyser/initial_plots.py
  eolt_root_cause_analyser/rps.py
  eolt_root_cause_analyser/sql_fetch.py
  eolt_root_cause_analyser/tdms_fetch.py
Due: black, pyupgrade, reorder-python-imports

#256124 small additions
  eolt_root_cause_analyser/rps.py
Due: black, pyupgrade, reorder-python-imports

Changed time extraction to search for channels
  eolt_root_cause_analyser/rps.py
  eolt_root_cause_analyser/tdms_fetch.py
Due: black, pyupgrade, reorder-python-imports

#256124 Finished Static Signal Checker Logic
  eolt_root_cause_analyser/rps.py
  eolt_root_cause_analyser/tdms_fetch.py
Due: black, pyupgrade, reorder-python-imports

#256124 working on order checker
  eolt_root_cause_analyser/rps.py
Due: black, pyupgrade, reorder-python-imports

Update sql_fetch.py
  eolt_root_cause_analyser/sql_fetch.py
Due: black, pyupgrade, reorder-python-imports

#256124 RPS checker
  eolt_root_cause_analyser/rps.py
  poetry.lock
Due: black, pyupgrade, reorder-python-imports

whitespace
  eolt_root_cause_analyser/rps.py
Due: black, pyupgrade, reorder-python-imports

#256124 finished rps
  eolt_root_cause_analyser/rps.py
Due: black, pyupgrade, reorder-python-imports

sql module update
  eolt_root_cause_analyser/rps.py
  eolt_root_cause_analyser/sql_fetch.py
Due: black, pyupgrade, reorder-python-imports

Path conditions:
  black: any of: \.py$, but not: ^_deprecated/
  check-toml: any of: \.toml$, but not: ^_deprecated/
  check-yaml: any of: \.(yaml|yml)$, but not: ^_deprecated/
  pyupgrade: any of: \.py$, but not: ^_deprecated/
  reorder-python-imports: any of: \.py$, but not: ^_deprecated/
